/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%; }

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5; }

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  height: 50px;
  line-height: 50px; }

.header-ttl {
  flex-basis: 50%;
  padding: 0 20px;
  font-size: 30px;
  text-align: left; }
  .header-ttl span {
    font-size: 20px;
    padding: 15px; }

.header-about {
  flex-basis: 50%;
  padding: 15px 20px; }
  .header-about button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    width: auto;
    height: 100%;
    float: right;
    font-family: serif;
    font-size: 20px;
    text-align: right; }

main {
  width: 100%;
  height: 100%; }

.carousel {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden; }

.carousel-slide {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  margin: auto;
  pointer-events: none; }

.slide-container {
  width: 80%;
  height: 60vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  top: 18%;
  margin: auto;
  opacity: 0;
  outline: 3px solid transparent;
  cursor: pointer; }
  .slide-container:hover .slide-img {
    -webkit-filter: grayscale(0%) brightness(100%);
            filter: grayscale(0%) brightness(100%);
    transition: -webkit-filter 0.3s ease-out;
    transition: filter 0.3s ease-out;
    transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out; }
  .slide-container:hover ~ .slide-ttl {
    color: #fff;
    transition: color 0.3s ease-out; }

.slide-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(90%);
          filter: grayscale(100%) brightness(90%);
  transition: -webkit-filter 0.3s ease-out;
  transition: filter 0.3s ease-out;
  transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out; }

.slide-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  pointer-events: none; }

.slide-ttl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 30%;
  pointer-events: none;
  text-align: center;
  text-shadow: 2px 2px 10px #838383;
  transition: color 0.3s ease-out; }
  .slide-ttl[data-color="sb"] {
    color: #05a6f5; }
  .slide-ttl[data-color="pp"] {
    color: #ff44f3; }
  .slide-ttl[data-color="gr"] {
    color: #08715f; }
  .slide-ttl[data-color="rd"] {
    color: #ff2436; }
  .slide-ttl[data-color="bl"] {
    color: #090aff; }
  .slide-ttl[data-color="yl"] {
    color: #ffe605; }
  .slide-ttl p:nth-of-type(1) {
    margin: 30px auto 0;
    line-height: 1;
    font-size: 40px;
    opacity: 0; }
  .slide-ttl p:nth-of-type(2) {
    font-size: 400%;
    opacity: 0; }

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 30px; }
  .carousel-prev button,
  .carousel-next button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: serif; }

.carousel-prev {
  left: 30px; }

.carousel-next {
  right: 30px; }

.curent-slide {
  pointer-events: auto;
  position: relative; }
  .curent-slide .slide-container {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s ease-out; }
  .curent-slide .slide-ttl p:nth-of-type(1) {
    opacity: 1;
    transition: opacity .3s ease-out; }
  .curent-slide .slide-ttl p:nth-of-type(2) {
    opacity: 1;
    transition: opacity .3s ease-out; }

.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }
  .modal[data-show="true"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }

.about {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }
  .about[data-show="true"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center; }

small {
  font-size: 12px; }

@media (min-width: 800px) {
  .sp-only {
    display: none; } }

@media (max-width: 799px) {
  .pc-only {
    display: none; }
    .header-ttl {
      flex-basis: 80%; }
      .header-ttl span {
        font-size: 16px;
        padding: 8px; }
    .header-about {
      flex-basis: 20%;
      padding: 10px 20px 0; }
      .header-about button {
        font-size: 18px; }
    .slide-ttl p:nth-of-type(1) {
      font-size: 30px; }
    .slide-ttl p:nth-of-type(2) {
      font-size: 36px; }
    .carousel-prev,
    .carousel-next {
      top: 45%; }
      .carousel-prev button,
      .carousel-next button {
        text-shadow: 2px 2px 5px #ddd; }
    .carousel-prev {
      left: 12px; }
    .carousel-next {
      right: 12px; } }
