extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  // - page main
  header
    h1.header-ttl 落花 -fall down flowers-
    .header-about
      button About
  main
    .carousel.js-carousel
      each val in slidelist
        .carousel-slide.js-slide
          .slide-container
            .slide-img(style=`background-image:"/img/slide${val.no}.jpg"`)
          h2.slide-no="#0" + val.no
          h1.slide-ttl=val.title
      button.carousel-prev previous
      button.carousel-next next
  footer
    small © 2018 MIO
  // - modal
  .modal
    .modal-container
      .modal-txtarea
        p.modal-txt
        a(href="#").modal-link
      .modal-ttl
      .modal-previewimg
    buttom.modal-close
    span
    span
  .about
    .about-container
      h2.about-ttl About
      p.about-txt This site is for illustration by MIO, which
  //- opening
  .opening