extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  header
    h1.header-ttl 落花 -fall down flowers-
    button.header-about About
  main
    .slideshow
  fotter
    small © 2018 Mio Tagami