/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
@-webkit-keyframes showAndHide {
  0%, 10%, 90%, 100% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; } }
@keyframes showAndHide {
  0%, 10%, 90%, 100% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; } }

body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: #000; }

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5; }

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  height: 50px;
  line-height: 50px; }

.header-ttl {
  flex-basis: 50%;
  padding: 0 20px;
  font-size: 30px;
  text-align: left; }
  .header-ttl span {
    font-size: 20px;
    padding: 15px; }

.header-about {
  flex-basis: 50%;
  padding: 15px 20px; }
  .header-about button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    width: auto;
    height: 100%;
    float: right;
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
    font-size: 20px;
    text-align: right; }

main {
  width: 100%;
  height: 100%;
  background: #000; }

.hoverlayer {
  width: 100%;
  height: 100vh; }

.contents {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none; }
  .contents[data-init="true"] {
    display: block; }
  .contents[data-show="true"] {
    opacity: 1;
    pointer-events: auto; }

.carousel {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden; }

.carousel-slide {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  margin: auto;
  pointer-events: none; }

.slide-container {
  width: 80%;
  height: 60vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  top: 18%;
  margin: auto;
  opacity: 0;
  outline: 3px solid transparent;
  cursor: pointer; }
  .slide-container:hover .slide-img {
    -webkit-filter: grayscale(0%) brightness(100%);
            filter: grayscale(0%) brightness(100%);
    transition: -webkit-filter 0.4s ease-out;
    transition: filter 0.4s ease-out;
    transition: filter 0.4s ease-out, -webkit-filter 0.4s ease-out; }
  .slide-container:hover ~ .slide-ttl {
    color: #fff;
    transition: color 0.4s ease-out; }

.slide-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(90%);
          filter: grayscale(100%) brightness(90%);
  transition: -webkit-filter 0.4s ease-out;
  transition: filter 0.4s ease-out;
  transition: filter 0.4s ease-out, -webkit-filter 0.4s ease-out; }

.slide-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  pointer-events: none; }

.slide-ttl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 30%;
  pointer-events: none;
  text-align: center;
  text-shadow: 2px 2px 10px #838383;
  transition: color 0.4s ease-out; }
  .slide-ttl[data-color="sb"] {
    color: #05a6f5; }
  .slide-ttl[data-color="pp"] {
    color: #ff44f3; }
  .slide-ttl[data-color="gr"] {
    color: #08715f; }
  .slide-ttl[data-color="rd"] {
    color: #ff2436; }
  .slide-ttl[data-color="bl"] {
    color: #090aff; }
  .slide-ttl[data-color="yl"] {
    color: #ffe605; }
  .slide-ttl p {
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif; }
    .slide-ttl p:nth-of-type(1) {
      margin: 30px auto 0;
      line-height: 1;
      font-size: 2.2rem;
      opacity: 0; }
    .slide-ttl p:nth-of-type(2) {
      font-size: 4.2rem;
      opacity: 0; }

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 30px; }
  .carousel-prev button,
  .carousel-next button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
    font-size: 1.4rem;
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif; }

.carousel-prev {
  left: 20px; }

.carousel-next {
  right: 20px; }

.curent-slide {
  pointer-events: auto;
  position: relative; }
  .curent-slide .slide-container {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s ease-out; }
  .curent-slide .slide-ttl p:nth-of-type(1) {
    opacity: 1;
    transition: opacity .3s ease-out; }
  .curent-slide .slide-ttl p:nth-of-type(2) {
    opacity: 1;
    transition: opacity .3s ease-out; }

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  background: #000;
  color: #fff;
  opacity: 1; }
  .loading[data-hide="true"] {
    opacity: 0;
    pointer-events: none; }
  .loading .loading-txt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff; }
    .loading .loading-txt span {
      font-size: 18px;
      margin: 0 10px;
      opacity: 0; }
      .loading .loading-txt span:nth-child(1) {
        -webkit-animation: showAndHide 2.3s ease 0.1s infinite;
                animation: showAndHide 2.3s ease 0.1s infinite; }
      .loading .loading-txt span:nth-child(2) {
        -webkit-animation: showAndHide 2.3s ease 0.2s infinite;
                animation: showAndHide 2.3s ease 0.2s infinite; }
      .loading .loading-txt span:nth-child(3) {
        -webkit-animation: showAndHide 2.3s ease 0.3s infinite;
                animation: showAndHide 2.3s ease 0.3s infinite; }
      .loading .loading-txt span:nth-child(4) {
        -webkit-animation: showAndHide 2.3s ease 0.4s infinite;
                animation: showAndHide 2.3s ease 0.4s infinite; }
      .loading .loading-txt span:nth-child(5) {
        -webkit-animation: showAndHide 2.3s ease 0.5s infinite;
                animation: showAndHide 2.3s ease 0.5s infinite; }
      .loading .loading-txt span:nth-child(6) {
        -webkit-animation: showAndHide 2.3s ease 0.6s infinite;
                animation: showAndHide 2.3s ease 0.6s infinite; }
      .loading .loading-txt span:nth-child(7) {
        -webkit-animation: showAndHide 2.3s ease 0.7s infinite;
                animation: showAndHide 2.3s ease 0.7s infinite; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 0.7s ease-out; }
  .modal[data-show="true"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.7s ease-out; }
    .modal[data-show="true"] .modal-no {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      transition: all 0.5s ease-out 1.0s; }
    .modal[data-show="true"] .modal-ttl {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      transition: all 0.7s ease-out 1.6s; }
    .modal[data-show="true"] .modal-link {
      opacity: 1;
      transition: all 0.6s ease-out 1.0s; }
    .modal[data-show="true"] .modal-linkcover {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      transition: -webkit-transform 0.6s ease-out 1.1s;
      transition: transform 0.6s ease-out 1.1s;
      transition: transform 0.6s ease-out 1.1s, -webkit-transform 0.6s ease-out 1.1s; }
    .modal[data-show="true"] .modal-txtcover {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      transition: -webkit-transform 0.6s ease-out 1.3s;
      transition: transform 0.6s ease-out 1.3s;
      transition: transform 0.6s ease-out 1.3s, -webkit-transform 0.6s ease-out 1.3s; }
    .modal[data-show="true"] .modal-txt {
      opacity: 1;
      transition: all 0.6s ease-out 1.4s; }
    .modal[data-show="true"] .modal-close {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      transition: all 0.6s ease-in 1.7s; }
    .modal[data-show="true"] .modal-previewimg {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      transition: all 0.8s ease-out 0.3s; }

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background: #fff; }

.modal-previewtxt {
  width: 40%;
  margin: auto 10px; }

.modal-no {
  font-size: 25px;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.modal-ttl {
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  font-size: 36px;
  margin-top: 5px;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px); }

.modal-txtarea {
  position: relative;
  margin: 15px 0;
  overflow: hidden; }

.modal-txt {
  margin: 0 auto;
  opacity: 0; }

.modal-txtcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.modal-link {
  position: relative;
  margin-top: 15px;
  opacity: 0;
  overflow: hidden; }
  .modal-link a {
    font-size: 21px;
    text-align: center;
    text-shadow: none;
    transition: text-shadow .6s ease-out; }
    .modal-link a[data-color="sb"] {
      color: #05a6f5; }
    .modal-link a[data-color="pp"] {
      color: #ff44f3; }
    .modal-link a[data-color="gr"] {
      color: #08715f; }
    .modal-link a[data-color="rd"] {
      color: #ff2436; }
    .modal-link a[data-color="bl"] {
      color: #090aff; }
    .modal-link a[data-color="yl"] {
      color: #ffe605; }
    .modal-link a:hover {
      transition: text-shadow .6s ease-out;
      text-shadow: 2px 2px 0px #c5c5c5; }

.modal-linkcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.modal-close {
  margin-top: 30px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0; }
  .modal-close button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    display: inline-block;
    padding: 8px 24px;
    width: 150px;
    border: 1px solid #000;
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
    font-size: 16px;
    text-align: center;
    text-shadow: none;
    overflow: hidden; }
    .modal-close button:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 150px;
      height: 100%;
      background: #000;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out; }
    .modal-close button:hover {
      color: #fff;
      transition: color .3s ease-out; }
      .modal-close button:hover:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: left;
                transform-origin: left;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.modal-previewimg {
  width: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px); }
  .modal-previewimg[data-img="1"] {
    background-image: url("../img/img1.jpg"); }
  .modal-previewimg[data-img="2"] {
    background-image: url("../img/img2.jpg"); }
  .modal-previewimg[data-img="3"] {
    background-image: url("../img/img3.jpg"); }
  .modal-previewimg[data-img="4"] {
    background-image: url("../img/img4.jpg"); }
  .modal-previewimg[data-img="5"] {
    background-image: url("../img/img5.jpg"); }
  .modal-previewimg[data-img="6"] {
    background-image: url("../img/img6.jpg"); }

.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.7s ease-out; }
  .about[data-show="true"] {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.7s ease-out; }
    .about[data-show="true"] .about-ttl {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      transition: all 0.7s ease-out 0.3s; }
    .about[data-show="true"] .about-txt {
      opacity: 1;
      transition: opacity 0.6s ease-in 0.4s; }
    .about[data-show="true"] .about-close {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      transition: all 0.6s ease-in 0.6s; }

.about-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
  width: 85%;
  height: 80%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif; }

.about-ttl {
  font-size: 32px;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px); }

.about-txt {
  margin: 30px 0 60px;
  font-size: 16px;
  opacity: 0; }

.about-close {
  margin-top: 30px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0; }
  .about-close button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
    overflow: visible;
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    width: 150px;
    border: 1px solid #fff;
    color: #fff;
    font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
    font-size: 16px;
    text-align: center;
    text-shadow: none;
    overflow: hidden;
    transition: opacity .6s ease-out; }
    .about-close button:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 150px;
      height: 100%;
      background: #fff;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out; }
    .about-close button:hover {
      color: #000;
      transition: color .3s ease-out; }
      .about-close button:hover:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: left;
                transform-origin: left;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center; }

small {
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  font-size: 12px; }

.opening {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.opening-ttlarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
  height: 40%; }

.opening-ttl {
  text-align: center;
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  font-size: 4.6rem; }
  .opening-ttl span {
    opacity: 0;
    display: block;
    -webkit-transform: scale(2);
            transform: scale(2); }

.opening-subttl {
  margin-top: 20px;
  text-align: center;
  font-family: "YuMincho", "Yu Mincho", "MS Mincho", serif;
  font-size: 2rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0; }

@media (min-width: 750px) {
  .sp-only {
    display: none; }
    .modal-container {
      height: 90%;
      min-height: 690px; } }

@media (max-width: 749px) {
  .pc-only {
    display: none; }
    .header-ttl {
      font-size: 1.4rem;
      flex-basis: 80%; }
      .header-ttl span {
        font-size: 1rem;
        padding: 8px; }
    .header-about {
      flex-basis: 20%; }
      .header-about button {
        font-size: 1.1rem; }
    .slide-ttl {
      height: 25vh; }
      .slide-ttl p:nth-of-type(1) {
        font-size: 1.8rem; }
      .slide-ttl p:nth-of-type(2) {
        font-size: 2.1rem; }
    .carousel-prev,
    .carousel-next {
      top: 45%; }
      .carousel-prev button,
      .carousel-next button {
        text-shadow: 2px 2px 1px #ccc; }
    .carousel-prev {
      left: 12px; }
    .carousel-next {
      right: 12px; }
    .modal-container {
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 15px auto;
      padding: 10px 5px;
      overflow: scroll; }
    .modal-previewtxt {
      margin: 20px 10px;
      width: 100%;
      order: 2; }
    .modal-no {
      font-size: 1.3rem; }
    .modal-ttl {
      font-size: 1.8rem; }
    .modal-previewimg {
      width: 100%;
      height: 70%;
      order: 1; }
    .about-container {
      overflow: scroll; }
    .about-txt {
      margin: 30px 0; }
    small {
      font-size: 0.8rem; }
    .opening-ttlarea {
      width: 100%; }
    .opening-ttl {
      font-size: 4rem; }
    .opening-subttl {
      font-size: 1.5rem; } }
