// base style
main {
    width: 100%;
    height: 100%;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.slide-container {
    position: absolute;
    top: 18%;
    right: 0;
    left: 0;
    width: 80%;
    height: 60%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .slide-img {
            filter: none;
            transition: filter 0.3s ease-out;
        }
        ~ .slide-ttl {
            color: $color-slidetxt;
            transition: color 0.3s ease-out;
        }
    }
}
.slide-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(10);
    opacity: 0;
    transition: filter 0.3s ease-out;
}
.slide-ttl {
    @include absCenter;
    width: 80%;
    height: 35%;
    pointer-events: none;
    text-align: center;
    text-shadow: 2px 2px 10px #838383;
    transition: color 0.3s ease-out;

    &[data-color="sb"] {
        color: $color-skyblue;
    }
    &[data-color="pp"] {
        color: $color-purple;
    }
    &[data-color="gr"] {
        color: $color-green;
    }
    &[data-color="rd"] {
        color: $color-red;
    }
    &[data-color="bl"] {
        color: $color-blue;
    }
    &[data-color="yl"] {
        color: $color-yellow;
    }

    p {
        &:nth-of-type(1) {
            margin: 30px auto 10px;
            line-height: 1;
            font-size: 40px;
            opacity: 0;
        }
        &:nth-of-type(2) {
            font-size: 400%;
            opacity: 0;
        }
    }

    // sp
    @include spLayout {
        p {
            &:nth-of-type(1) {
                font-size: 30px;
            }
            &:nth-of-type(2) {
                font-size: 36px;
            }
        }
    }
}
// carousel button
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 30px;

    button {
        @include formStyleReset;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-family: $font-main;
    }

    @include spLayout {
        top: 25%;

        button {
            text-shadow: 2px 2px 5px #ddd;
        }
    }
}
.carousel-prev {
    left: 30px;
    @include spLayout {
        left: 12px;
    }
}
.carousel-next {
    right: 30px;
    @include spLayout {
        right: 12px;
    }
}

// carousel manage style
.curent-slide {
    opacity: 1;
    pointer-events: auto;

    .slide-container,
    .slide-img {
        opacity: 1;
        pointer-events: auto;
    }
    .slide-ttl {
        p {
            &:nth-of-type(1) {
                opacity: 1;
            }
            &:nth-of-type(2) {
                opacity: 1;
            }
        }
    }
}
