// base style
main {
    width: 100%;
    height: 100%;
    background: #000;
}
.hoverlayer {
    width: 100%;
    height: 100vh;
}
.contents {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    &[data-init="true"] {
        display: block;
    }

    &[data-show="true"] {
        opacity: 1;
        pointer-events: auto;
    }
}
.carousel {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.carousel-slide {
    width: 100%;
    height: 100vh;
	top: 0;
    position: absolute;
    margin: auto;
    pointer-events: none;
}
.slide-container {
    width: 80%;
    height: 60vh;
	max-height: 100%;
	overflow: hidden;
    position: relative;
    top: 18%;
    margin: auto;
	opacity: 0;
	outline: 3px solid transparent;
    cursor: pointer;

    &:hover {
        .slide-img {
            filter: grayscale(0%) brightness(100%);
            transition: filter 0.4s ease-out;
        }
        ~ .slide-ttl {
            color: $color-slidetxt;
            transition: color 0.4s ease-out;
        }
    }
}
.slide-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%) brightness(90%);
    transition: filter 0.4s ease-out;
}
.slide-cover {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	transform: translate3d(-100%,0,0);
	pointer-events: none;
}
.slide-ttl {
    @include absCenter;
    width: 100%;
    height: 30%;
    pointer-events: none;
    text-align: center;
    text-shadow: 2px 2px 10px #838383;
    transition: color 0.4s ease-out;

    &[data-color="sb"] {
        color: $color-skyblue;
    }
    &[data-color="pp"] {
        color: $color-purple;
    }
    &[data-color="gr"] {
        color: $color-green;
    }
    &[data-color="rd"] {
        color: $color-red;
    }
    &[data-color="bl"] {
        color: $color-blue;
    }
    &[data-color="yl"] {
        color: $color-yellow;
    }

    p {
        font-family: $font-main;

        &:nth-of-type(1) {
            margin: 30px auto 0;
            line-height: 1;
            font-size: 40px;
            opacity: 0;
        }
        &:nth-of-type(2) {
            font-size: 400%;
            opacity: 0;
        }
    }

    // sp
    @include spLayout {
        p {
            &:nth-of-type(1) {
                font-size: 30px;
            }
            &:nth-of-type(2) {
                font-size: 36px;
            }
        }
    }
}
// carousel button
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 30px;

    button {
        @include formStyleReset;
        width: 100%;
        height: 100%;
        font-family: $font-main;
        font-size: 18px;
        font-family: $font-main;
    }

    @include spLayout {
        top: 45%;

        button {
            text-shadow: 2px 2px 5px #ddd;
        }
    }
}
.carousel-prev {
    left: 30px;
    @include spLayout {
        left: 12px;
    }
}
.carousel-next {
    right: 30px;
    @include spLayout {
        right: 12px;
    }
}

// carousel manage style
.curent-slide {
    pointer-events: auto;
    position: relative;

    .slide-container {
        opacity: 1;
        pointer-events: auto;
        transition: opacity .3s ease-out;
    }
    .slide-ttl {
        p {
            &:nth-of-type(1) {
                opacity: 1;
                transition: opacity .3s ease-out;
            }
            &:nth-of-type(2) {
                opacity: 1;
                transition: opacity .3s ease-out;
            }
        }
    }
}
