header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.header-ttl {
    flex-basis: 50%;
    padding: 0 20px;
    font-size: 30px;
    text-align: left;

    span {
        font-size: 20px;
        padding: 15px;
    }

    @include spLayout {
        flex-basis: 80%;
        span {
            font-size: 16px;
            padding: 8px;
        }
    }
}
.header-about {
    flex-basis: 50%;
    padding: 15px 20px;

    button {
        @include formStyleReset;
        width: auto;
        height: 100%;
        float: right;
        font-family: $font-main;
        font-size: 20px;
        text-align: right;
    }

    @include spLayout {
        flex-basis: 20%;
        padding: 10px 20px 0;

        button {
            font-size: 18px;
        }
    }
}
