.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $font-main;
    background: #000;
    color: #fff;
    opacity: 1;

    &[data-hide="true"] {
        opacity: 0;
        pointer-events: none;
    }

    .loading-txt {
        @include absCenter;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 30px;
        color: #fff;

        @for $i from 1 through 7 {
            span {
                opacity: 0;
                animation: showAndHide 1.5s ease-out #{0.2 * $i}s;
            }
        }
    }
}