// .pccheck {
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: #000;

//     @include spLayout {
//         display: block;
//     }
// }

// .pccheck-txt {
//     @include absCenter;
//     width: 100%;
//     height: 40px;
//     text-align: center;
//     color: #fff;
//     font-family: $font-main;
// }

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $font-main;
    background: #000;
    color: #fff;
    opacity: 1;

    &[data-hide="true"] {
        opacity: 0;
        pointer-events: none;
    }

    .loading-txt {
        @include absCenter;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 30px;
        color: #fff;

        span {
            font-size: 18px;
            margin: 0 10px;
            opacity: 0;
             @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    animation: showAndHide 2.3s ease #{$i * 0.1}s infinite;
                }
            }
        }
    }
}