.opening {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.opening-ttlarea {
    @include absCenter;
    width: 40%;
    height: 40%;
}

.opening-ttl {
   text-align: center;
   font-family: $font-main;
   font-size: 70px;
   span {
       opacity: 0;
       display: block;
       transform: scale(2.0);
   }

}

.opening-subttl {
    opacity: 0;
    text-align: center;
    font-family: $font-main;
    font-size: 35px;
    transform: scale(1.5);
}