// size
$pc_min_width: 750px;

// color
$color-maintxt: #333;
$color-slidetxt: #fff;
$color-skyblue: #05a6f5;
$color-purple: #ff44f3;
$color-green: #08715f;
$color-red: #ff2436;
$color-blue: #090aff;
$color-yellow: #ffe605;

// font
$font-main: 'YuMincho', 'Yu Mincho', 'MS Mincho', serif;